* {
  box-sizing: border-box;
} 


body {
  font-family: ;
  margin: 0;
} 

body.home {
  background-image: url(file:///C:/Users/30022406/OneDrive%20-%20Sunraysia%20Institute%20of%20TAFE/ICTWEB431%20Create%20and%20style%20simple%20markup%20language%20documents/Assessment%201/backgrounds/background%20img.jpg);
  background-size: cover;
}

body.contact {
  background-image: 
  background size: cover;
 }

body.products {
  background-color:"black";
}


.header {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 10px;
}

.content {
  float: left;
  padding: 250px;
  color: white;
  font-size: 25px;
}


.topnav {
  background-color:#5a157e;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color:#cccccc ;
}

.topnav a.active {
  background-color:#5a157e ;
  color: white;

.container {
  align-items: center; 
  float: left;
}
.image{
    float: left;
  padding: 5px;
}